{% extends 'base.html' %} {% block content %}

<div class="mood-header">
  <h1 id="moods-list" class="cursive">Moods List</h1>
  <a class=" add-mood btn-floating btn-large waves-effect waves-light teal darken-4" href="{% url 'moods_create' %}"><i class="material-icons">+</i></a>
</div>

<div class="row">
  {% for mood in object_list %}
  <div class="col s3">
    <div class="card">
      <a class="darkliver" href="{% url 'moods_detail' mood.id %}">
        <div class="card-content">
          <span class=" darkliver card-title">{{ mood.mood }}</span>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
