{% extends 'base.html' %} {% block content %}

    <h1 id="aboutmj">About My Journal</h1>
    <hr />
    <div class="row">

        <div class="col s4">
          <h5>Reduce Stress and Anxiety</h5>
          <p>Sometimes negative thoughts and emotions can run on a loop in our heads. This can be stressful when you’re dealing with a challenging situation — it can even make your present situation feel worse. But if you stop and put your emotions down on paper, it can help you release negative thoughts from your mind. As you write, you may even come up with a solution you hadn’t thought of before.</p>
        </div>
        <div class="col s4">
          <h5>Achieve Goals</h5>
          <p>When you use your journal to write down your goals, you can keep better track of your intentions. This will help you stay accountable and serve as a reminder of what you need to do to accomplish them. Be sure to get specific.</p>
        </div>
        <div class="col s4">
          <h5>Improve Communication Skills</h5>
          <p>Writing, like anything, improves with practice. When you journal every day, you’re practicing the art of writing. And if you use a journal to express your thoughts and ideas, it’ll help improve your overall communication skills.</p>
        </div>
  
    </div>

{% endblock %}
    
