{% extends 'base.html' %} {% block content %}
<div class="works card z-depth-3">
  <div class="card-content">
    <h1 class="aboutmj">How it works</h1>

    <ul>
      <li>Sign up or log in to begin</li>
      <li>Go to "Add Entry" to create your journal entry for the day.</li>
      <li>
        Once you're done, go to "View All Entries", select today's date, and
        start pinning moods to the day from the list of moods.
      </li>
      <li>
        If you don't see a mood that you feel, go to "Moods" and add more moods
        to the list.
      </li>
      <li>
        Upload photos to your journal entry to remember what adventures you had
        that day.
      </li>
    </ul>
  </div>
</div>

<h1 class="aboutmj">Benefits of Journaling</h1>
<hr />
<div class="row">
  <div class="col s4">
    <h5>Reduce Stress and Anxiety</h5>
    <p>
      Sometimes negative thoughts and emotions can run on a loop in our heads.
      This can be stressful when you’re dealing with a challenging situation —
      it can even make your present situation feel worse. But if you stop and
      put your emotions down on paper, it can help you release negative thoughts
      from your mind. As you write, you may even come up with a solution you
      hadn’t thought of before.
    </p>
    <img
      class="about-img"
      src="https://images.unsplash.com/photo-1621252179027-94459d278660?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RyZXNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      alt="stressed-lady"
    />
  </div>
  <div class="col s4">
    <h5>Achieve Goals</h5>
    <p>
      When you use your journal to write down your goals, you can keep better
      track of your intentions. This will help you stay accountable and serve as
      a reminder of what you need to do to accomplish them. Be sure to get
      specific.
    </p>
    <img
      class="about-img"
      src="https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHdvcmtpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
      alt="people-working"
    />
  </div>
  <div class="col s4">
    <h5>Improve Communication Skills</h5>
    <p>
      Writing, like anything, improves with practice. When you journal every
      day, you’re practicing the art of writing. And if you use a journal to
      express your thoughts and ideas, it’ll help improve your overall
      communication skills.
    </p>
    <img
      class="about-img"
      src="https://images.unsplash.com/photo-1573497620053-ea5300f94f21?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dGFsa2luZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      alt="people-talking"
    />
  </div>
</div>

{% endblock %}
