{% extends 'base.html' %} 

{% block head %}
<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1588338949261-659fc6fed20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGpvdXJuYWx8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        height: 100vh;
        margin: 0;
        
    }
    
    
</style>
{% endblock %}


{% block content %}

<h1 id="home-title">My Journal</h1>

{% endblock %}

