@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Judson&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f2efe9;
  }
  
main {
    flex: 1 0 auto;
  }
  
footer {
    padding-top: 0;
    text-align: right;
  }

#myjournal {
    font-family: 'Crafty Girls', cursive;
    color: rgb(8, 8, 37);
}

.aboutmj {
    font-weight: 200;
    font-size: 50px;
    margin-top: 0;
    font-family: 'PT Serif', serif;
    
}

.about-img {
    width: 90%;
}
.cordovan {
    background-color: #904e55;
}

.works {
    padding: -20px 15px 10px 15px;
    background-color: #904e55;
    margin: 45px;
}
.ul {
    color: #f2efe9;
}

.add-mood {
    
    margin: 30px 0;
    
    display: flex;
    align-items: center;
    
}
.add-mood:hover {
    cursor: pointer;
    transform: translate(0, -8px);
}
/* #moods-list {
    display: inline-block;
    
} */
.mood-header {
    display: flex;
    justify-content: space-between;

}
.button {
    padding: 15px;
    margin: 8px 0;
    border-radius: 15px;
    border: none;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 20px;
    color: #f2efe9;
}
.button:hover {
    cursor: pointer;
    transform: translate(0, -8px);
}
.moods-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;

}
.available {
    border-left: solid rgb(120, 118, 118) 2px;
    padding-left: 25px;
}
.upload {
    width: 50%;
}
.photo {
    width: 90%;
}
.photo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#home-title {
    font-size: 100px;
    z-index: 1;
    position: absolute;
    color: white;
    margin: 20vh 20vh 20vh 20vh;
    font-family: 'Homemade Apple', cursive;
}
.cursive {
    font-family: 'Annie Use Your Telescope', cursive;
}
.navb {
    font-size: 25px;
}
.darkliver {
    color: #f2efe9;
    font-family: 'Annie Use Your Telescope', cursive;
}
.entry {
    font-size: 23px;
}
.detmood {
    font-size: 25px;
}
