{% extends 'base.html' %} {% block content %}

<h1 class="cursive">Journal Entry on {{ entry.date }}</h1>

<div class="card">
  <div class="card-content">
    <p class="cursive entry">{{ entry.entry }}</p>
  </div>
  <div class="card-action">
    <a class="teal-text text-darken-4" href="{% url 'entries_update' entry.id %}">Edit</a>
    <a class="teal-text text-darken-4" href="{% url 'entries_delete' entry.id %}">Delete</a>
  </div>
</div>

<hr />
<div class="row">
  <div class="col s6">
    <h3 class="cursive">Today I am feeling:</h3>
    {% if entry.moods.count %} {% for mood in entry.moods.all %}
    <div class="cordovan card">
      <div class="card-content">
        <span class="darkliver card-title"> {{mood.mood}} </span>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>No Specific Moods Today</h5>
    {% endif %}
  </div>

  <!-- Available moods will come after this line -->

  <div class="col s6">
    <h3 class="available cursive">Available Moods:</h3>
        <div class="moods-container">
        {% if moods.count %} {% for mood in moods.all %}

        <form action="{% url 'assoc_mood' entry.id mood.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class=" teal darken-4 button">{{mood.mood}}</button>
        </form>

        {% endfor %}
    </div>
    {% else %}
    <h5 class="cursive">Feeling all the feels today</h5>
    {% endif %}
  </div>
</div>

<div>
    <h3 class="cursive">Photos From Your Day:</h3>
    <div class="photo-container">
  {% for photo in entry.photo_set.all %}
  <img class=" photo responsive-img card-panel" src="{{photo.url}}" />
  {% empty %}
  <div class="card-panel teal-text text-darken-4 center-align">No Photos Uploaded</div>
  {% endfor %}
</div>
  <div class="upload">
  <form
    action="{% url 'add_photo' entry.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <input type="submit" class="button teal darken-4" value="Upload Photo" />
  </form>
</div>
</div>

{% endblock %}
